<div style="display: flex; align-items: center; justify-content: center; margin: 5px;">
  <mat-card >
    <div style="display: flex; align-items: center; justify-content: center; margin: 5px;">
      <img mat-card-md-image [src]="user.avatar" alt="Avatar" />
    </div>
    <mat-card-title  style="text-align: center;">{{ user.first_name }} {{ user.last_name }}</mat-card-title>
    <mat-card-title  style="text-align: center;">{{ user.email }}</mat-card-title>
  </mat-card>
</div>

<button mat-button (click)="goBack()">Back</button>